* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(45, 45, 45, 1) 100%
  );

  color: white;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  background-color: lightpink;

  .form {
    background-color: rgba(45, 45, 45, 1);

    color: white;
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;

    .section-fav {
      width: 40%;
      padding: 6rem;

      .section-title {
        font-size: 2rem;
      }
      .li-fav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 1rem;
      }

      .img-fav {
        width: 10rem;
      }

      .div-fav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 15rem;
      }

      .p-fav {
        font-size: 1.5rem;
      }
    }

    .section-all {
      width: 60%;
      padding: 6rem;

      .section-title {
        font-size: 2rem;
      }
    }
  }
}

.chosen {
  background-color: purple;
}
.hidden {
  display: none;
}
