* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.header {
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 3rem;
    text-transform: uppercase;
  }

  &__text {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: fit-content;
  background-color: lightpink;

  .form {
    background-color: black;
    color: white;
    padding: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;

    .section-fav {
      width: 40%;

      .section-title {
        font-size: 2rem;
      }
    }

    .section-all {
      width: 60%;

      .section-title {
        font-size: 2rem;
      }
    }
  }
}

.chosen {
  background-color: purple;
}
.hidden {
  display: none;
}
